<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IslServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <IslServices.Properties.Settings>
            <setting name="IslServices_WsQhDevWarr_PCQuoteEngineAPI" serializeAs="String">
                <value>http://tst-gw-devwar04.test.hastings.local:9080/pc/ws/com/hastings/integration/aggs/privatecar/qcore/PCQuoteEngineAPI</value>
            </setting>
            <setting name="IslServices_WsIslPrd_Isl" serializeAs="String">
                <value>http://ad1-prd-islclus.network.uk.ad:8080/Isl.svc</value>
            </setting>
            <setting name="IslServices_WsIslDevWarr_Isl" serializeAs="String">
                <value>http://bx2-dev-is01.test.hastings.local:8080/Isl.svc</value>
            </setting>
            <setting name="IslServices_VanQuoteServiceDevWarr_CVQuoteEngineAPI"
                serializeAs="String">
                <value>http://tst-gw-devwar04.test.hastings.local:9080/pc/ws/com/hastings/integration/aggs/commercialvan/qcore/CVQuoteEngineAPI</value>
            </setting>
        </IslServices.Properties.Settings>
    </applicationSettings>
</configuration>